.myWorksBlock {
  height: 100vh;
  background-color: rgba(8, 8, 231, 0.76);
}

.myWorksContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title{
  background-color: rgba(128, 128, 128, 0.822);
}

.works {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
