.mainContainer {
  padding: 24px 0px 60px 0px;
}

.text {
  display: flex;
  width: 60.863%;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.subtitle {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title {
  color: #ffffff;
  font-size: 60px;
  line-height: 62px;
  margin-bottom: 22px;
}

.name {
  color: #ff014f;
  font-family: 'Montserrat', sans-serif;
  line-height: 62px;
}

.description {
  color: #c4cfde;
  opacity: 0.9;
  padding-right: 16%;
  line-height: 30px;
}

.wrapperPhoto {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  z-index: 2;
  width: 38.469%;
}

.thumbnail::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80%;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 6px;
}

.photo {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1237px) {
  .title{
    font-size: 50px;
  }
}

@media screen and (max-width: 1036px) {

  .mainContainer {
    flex-direction: column-reverse;
  }

  .wrapperPhoto {
    width: 100%;
    justify-content: center;
  }

  .title {
    line-height: 1.2;
  }

  .text {
    width: auto;
  }

}


@media screen and (max-width: 630px) {

  .title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 510px) {

  .title{
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 400px) {

  .title {
    font-size: 24px;
  }
}