.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
  min-height: 60vh;
}

.title {
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
