.contactsBlock {
  background-color: rgba(73, 1, 1, 0.404);
}

.contactsContainer {
  border: 1px solid;
  min-height: 50vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contactForm {
  height: 250px;
  max-width: 300px;
}

.contactForm form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactsBlock button {
  padding: 12px 50px;
  font-weight: bold;
  font-size: large;
}
